* {
    margin: 0;
    padding: 0;
    border: none
}

html, body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background: url("../images/bg/bg.jpg") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}